<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Profile | Dummy Bank</title>
        <link rel="stylesheet" href="stylesheets/main.css">
    </head>

    <body>
        <div id="margin">
            <div id="center">

                <div id="start">
                    <p>{{ messages.statusMessage }}</p>

                    {% if user.name == null %}
                        <h1>{{ user.email }}</h1>
                    {% else %}
                        <h1>{{ user.name }}</h1>
                    {% endif %}

                    <br><br>
                    <a href="/signout"><button class="button-1">Sign Out</button></a>
                    <hr>
                </div>

                
                <div id="label-2">
                    <form action="/deposit" method="post">
                        <div>
                            <label for="amount">Deposit Amount</label><br>
                            <input type="number" name="amount" id="amount">
                            <button class="button-2">Deposit</button>
                        </div>
                    </form>

                    <form action="/withdraw" method="post">
                        <div>
                            <label for="amount">Withdraw Amount</label><br>
                            <input type="number" name="amount" id="amount">
                            <button class="button-2">Withdraw</button>
                        </div>
                    </form>

                    <form action="/transfer" method="post">
            			<div>
            				<label for="recipient">Transfer To</label><br>
            				<input type="text" name="recipient" id="recipient">
            			</div>
            			<div>
            				<label for="amount">Transfer Amount</label><br>
            				<input type="number" name="amount" id="amount">
                            <button class="button-2">Transfer</button>
            			</div>

                    </form>
                </div>

            </div>
        </div>
    </body>
</html>
